Distric of Columbia as DC

In [56]:
import pandas as pd
import numpy as np
import seaborn

In [57]:
def lower(x):
    return x.lower()
def change(x):
    if x in s2abr.keys():
        return s2abr[x] 
    else:
        return 'DC'

In [58]:
s2abr = pd.read_csv('data/state_to_abbr.csv')
s2abr['state'] = s2abr['state'].apply(lower)
s2abr = s2abr.set_index('state')
s2abr = s2abr.to_dict()['abbr']

READ AND CLEAN COMPLETE COUNTY LISTY

In [84]:
df_complete = pd.read_csv('data/raw/complete_county.csv')
print len(df_complete)

# change state name to abbreviation
df_complete['State'] = df_complete['State'].map(lambda x: x.replace('_', ''))
df_complete['State'] =  df_complete['State'].map(lower)
df_complete['State'] = df_complete['State'].map(change)

3143

In [85]:
#remove alaska and hawaii and columbia
df_complete = df_complete[df_complete['State'] != 'HI']
df_complete = df_complete[df_complete['State'] != 'AK']
df_complete = df_complete[df_complete['State'] != 'DC']
len(df_complete)

3108

READ AND CLEAN DISTANCE

In [86]:
df_distance = pd.read_csv('data/county_distances.csv')
df_distance['county'] = df_distance['county'].apply(lower)
df_distance.head()

,state,county,latitude,longitude,distance_100000,distance_300000,distance_500000,distance_1000000
0,AL,autauga,32.524787,-86.637706,39.958761,39.958761,404.785584,614.110614
1,AL,baldwin,30.587202,-87.719056,221.087345,221.087345,221.087345,823.038182
2,AL,barbour,31.816169,-85.418069,99.515924,99.515924,473.425102,568.407367
3,AL,bibb,33.032728,-87.080731,107.680990,107.680990,349.282260,624.912551
4,AL,blount,33.951944,-86.582932,180.475554,180.475554,246.963357,545.787028

READ AND CLEAN VOTES

In [87]:
df_votes_raw = pd.read_csv('data/normalised_votes.csv')
df_votes_raw = df_votes_raw.drop_duplicates()

In [88]:
df_votes_raw['State'] = df_votes_raw['State'].map(lambda x: x.replace('-', ' '))
df_votes_raw['State'] = df_votes_raw['State'].map(s2abr)
df_votes = df_votes_raw

In [89]:
df_votes = df_votes[df_votes['State'] != 'HI']
df_votes = df_votes[df_votes['State'] != 'AK']
df_votes = df_votes[df_votes['State'] != 'DC']

In [90]:
df_votes.head()

  State          County  Votes_Norm  Number_Votes
0    AL  Autauga County       0.494       24661.0
1    AL  Baldwin County       0.578       94090.0
2    AL  Barbour County       0.056       10390.0
3    AL     Bibb County       0.556        8748.0
4    AL   Blount County       0.814       25384.0

BRIEF COMPARISON

In [91]:
df_votes.sort_values(by=['State', 'County'])
df_distance.sort_values(by=['state', 'county'])
df_complete.sort_values(by=['State', 'County'])


print '                 VOTES     DISTANCE   COMPLETE'
print 'number of counties', len(df_votes), len(df_distance), len(df_complete)
print 'number of states:', len(df_votes['State'].unique()), len(df_distance['state'].unique()), len(df_complete['State'].unique())

                 VOTES     DISTANCE   COMPLETE
number of counties 3107 3108 3108
number of states: 48 48 48

FIX DUPLICATES AND DELETE A COUNTY FROM VOTES (Broomfield County CO)

In [93]:
df_distance = df_distance.drop(df_distance.index[2780])
df_distance = df_distance.drop(df_distance.index[2809])
df_votes = df_votes.drop(df_votes.index[223])

In [95]:
df_distance = df_distance.reset_index(drop=True)
df_votes = df_votes.reset_index(drop=True)

In [97]:
#df_votes[df_votes['State'] == 'CO']['County'][:20],  df_distance[df_distance['state'] == 'CO']['county'][:20]

In [96]:
# check whether states have the same number of counties
print '1 ------------'
states = df_votes['State'].unique()
for s in states:

        vote =  len(df_votes[df_votes['State'] == s])
        dist =  len(df_distance[df_distance['state'] == s])
        
        if vote != dist:
            print s
            print vote, dist
            print ""
            
print '2 -------------'
states = df_distance['state'].unique()
for s in states:

        vote =  len(df_votes[df_votes['State'] == s])
        dist =  len(df_distance[df_distance['state'] == s])
        
        if vote != dist:
            print s
            print vote, dist
            print ""

1 ------------
2 -------------

In [99]:
df_votes.to_csv('data/final/votes_clean.csv')
df_distance.to_csv('data/final/distance_clean.csv')